body{
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
}
.mi-22{
    color: #FFAD5A;
}
section{
    display: flex;
}
.half-width{
        width: 50%;
        padding-left:5px;
        text-align: justify;
}
.half-width img{
    width: 100%;
    margin-top: 0px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#FF5959,#e66a51);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#text{text-align: center;}
