body{
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
}
#top-border{
   text-justify: auto;
    border-left: 4px solid;
    border-color: #FF5959;
}
section{
    display: flex;
}
.half-width{
        width: 50%;
        padding-left:10px;
        text-align: justify;
}
.half-width img{
    width: 100%;
    margin-top: 0px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#FF5959,#e66a51);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#text{text-align: center;}
#text span{
    color: #FFAD5A ;
}
.equal-1{
    background-color: grey;
  width: 30%;
  padding-left:2%;
  margin:2%;
 border-radius:6%;
}
.equal-2{
    background-color: orchid;
    width: 30%;
    padding-left:2%;
    margin:2%;
   border-radius:6%;
}
.equal-3{
    background-color:#28AFEA;
    width: 30%;
    padding-left:2%;
    margin:2%;
   border-radius:6%;
}
#middle{
    margin-top: 30px;
    width: 100%;
    padding-left:5%;
    background-image: url(img/shapes/shape-1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: left;
}
#last{
    margin-top:40px;
    width: 100%;
    padding-left:5%;
}
.last1{
    margin-top:10%;
    
}

.corona{
    color: gold;
}

#bottom{
    text-align: center;
     background-color:black;
    color: white;
    padding-left:40%;
    font-style:italic;
} 