body{
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
}
#top-border{
    border-left: 4px solid;
    border-color: #FF5959;
}
section{
    display: flex;
}
.half-width{
        width: 50%;
        padding-left:5px;
        text-align: justify;
}
.half-width img{
    width: 100%;
    margin-top: 0px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#FF5959,#e66a51);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#text{text-align: center;}
#text span{
    color: #FFAD5A ;
}
.equal-1{
    background-color: grey;
  width: 300px;s
  padding: 50px;
  margin: 10px;
 border-radius: 15px;
}
.equal-2{
    background-color: orchid;
  width: 300px;s
  padding: 50px;
  margin: 10px;
 border-radius: 10px;
}
.equal-3{
    background-color:#28AFEA;
  width: 300px;s
  padding: 50px;
  margin: 10px;
 border-radius: 15px;
}